**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
/build/ios/XCBuildData/PIFCache/project/PROJECT@v11_mod=ef29cdacf11b692b727be8ed7baa868d_hash=bfdfe7dc352907fc980b868725387e98plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0be56bf9eeba616ec497f607832dbd1c-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0d48c9ea4fa1eec06b52b9a11bb7d8c4-json
/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4982cb2834a14d2ae43d42ebc3f63b16-json
